    {% block head %}
    {#
    <title>{% block title %}{% endblock title %}</title>
    #}
    <title>{{ SITENAME }}</title>
    <meta charset="utf-8" />

    <script>
var baseApiUrl = '{{ GOLLY_BASE_API }}';
var baseUIUrl  = '{{ GOLLY_BASE_UI  }}';
    </script>

    <!--
    CSS styles
    -->
    <link href="{{ SITEURL }}/theme/css/cyborg.css" rel="stylesheet" type="text/css">
    <link href="{{ SITEURL }}/theme/css/custom.css" rel="stylesheet" type="text/css">
    <link href="{{ SITEURL }}/theme/css/fa.css"     rel="stylesheet" type="text/css"/>

    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/img/golly-favicon.png">

    <!--
        Versions:
        golly-pelican: {{ GOLLY_PELICAN_VERSION }}
        golly-pelican-theme: 18.0.0.dev0
    -->

    {% endblock head %}
